$color_1: #7f2549;
$background-color_1: #fdf6f0;

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 15px;
	color: $color_1;
	background-color: $background-color_1;
	button {
		width: fit-content;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: $color_1;
		cursor: pointer;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
